.lancamentos {
  border-radius: 5px;
  padding: 10px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.info {  
  font-size: 14px;
  color: #000;
}

.valores {
  font-size: 14px;
  color: #0ABC40;
  padding-left: 5px;
}

.valoresNeg {
  font-size: 14px;
  color: #f30808;
  padding-left: 5px;
}

.addLancamento { 
  flex-direction: row;
  display: flex;
  align-items: center;
}

.headFinance { 
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px;
  border-color: lawngreen;
}

.dayLancamento { 
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px;
  padding-right: 10px;
  font-weight: bold;
  font-size: 16px;
  border-color: lawngreen;
}

.desc { 
  flex-direction: column;
  align-items: center;
}

.plus {
  background: #63C43B;
}

.sub {
  background: #FB7777;
}
/* #FB7777 Vermelho */
/* #63C43B Verde */

.detalhes {
  padding-right: 10px;
}